<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>Margaret's</title>
</head>
<body>
	<header>Margaret's website</header>
	<nav>
	<%= yield %>
	</nav>
	<footer> Created by: Margaret Kim </footer>
</body>

</html>