<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Margaret's</title>
</head>
<body>
	<header>Margaret's website</header>
	<nav>
	<%= yield %>
	</nav>
</body>
<footer> Created by Margaret Kim </footer>
</html>