<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>new_contact</title>
</head>
<body>
<form method="get" action="/">
	<button type="submit">Home</button>
	</form>
	<h1>Create new Contact</h1>

	<form action="/contacts" method="post">
	  <input type="text" name="first_name">
	  <input type="text" name="last_name">
	  <input type="text" name="email">
	  <input type="text" name="note">
	  <input type="submit" name="Submit">
	</form>
</body>
</html>